notes.txt
requirements1.txt
ref.md
.ven
.devcontainer
app/output
app/__pycache__*
app/src/__pycache__*
app/src/U2Net/__pycache__*
app/src/U2Net/model/__pycache__*
app/src/U2Net/saved_models/u2net/u2net.pth