# fly.toml app configuration file generated for bg-remover-g-9whg on 2025-11-27T22:17:39Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bg-remover-g-9whg'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[mounts]]
  source = "model_data"
  destination = "/model"

